@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

body {
  background-image: url('bg.jpg');
  background-size: cover;
}
#gamearea div {
  width: 100%;
  aspect-ratio: 1;
  border: 2px solid white;
  box-shadow: 0 0 0 black;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  text-shadow: 0 0 black;
  /* cursor: pointer; */
  cursor: pointer;
  user-select: none;
}
#gamearea {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
#container {
  display: grid;
  /* tehát itt a három oszlop 1:4:1 arányúak */
  grid-template-columns: 1fr 4fr 1fr;
}
.rejtett {
  visibility: hidden;
}

#szamlalo {
  font-size: 30px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
}
